
$text-color:(
    'nero': #000,
    'bianco': #fff,
    'giallo': #f58d54
);

$link-color-navbar: #fff;
$bg-navbar: #170448;
$btn-color: #ffa500; 
$link-color-main: #f58d54;

$oblique-text: oblique;
$font-size: 18px;
